body{
    background-color: black;
}
.navbar{
    background-color: black;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 350px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
.container-fluid {
    background-color: black;
    text-align: center;
    
    
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: black;
    color: white;
    max-width: 100%;
}
.navbar-toggler{
    background-color: rgb(85, 85, 85);
    
}