body{
    background-color: #483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 350px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: whitesmoke;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: #483C32;
    color: white;
    background-image: url(./képek/10133\ 3.png);
    width: auto;
    height: 350px;
    max-width: 85%;
}
.navbar-toggler{
    background-color:#C19A6B;
    
}