body{
    background-color: #483C32;
}

.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}

.btn{
    color: white;
}

.fadelab{
color: white;
}

img{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
}

#navbarNav a{
    color: whitesmoke;

}

.navbar-brand{
    color: white;
}

.container{
    background-color: #483C32;
    color: white;
    background-image: url(./képek/10133\ 3.png);
    width: auto;
    height: 350px;
    max-width: 100%;
    margin-top: 25px;
}

.navbar-toggler{
    background-color:#C19A6B;
}

.ar{
    text-align: center;
    margin-top: 25px;
    color: white;
}

.dropdown button{
    background-color: #755343;
}.card-hajvagas{
    background-color: #483C32;
}.card-body a{
    background-color: #483C32;
    border: none;
    color: white;
}

.card-img-top{
    height: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}