body{
    background-color: #483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 500px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: #483C32;
    color: white;
    max-width: 100%;
}
.navbar-toggler{
    background-color: #755343;
    
}
iframe {
    width: 100%;
    height: 500px;
    border: none;
    column-gap: 0px;
}

.dropdown button{
    background-color: #755343;
}
.contineralso{
    display: flex;
    height: 500px;
}
.alsokep img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.contineralso .col-6{
    height: 500px;
}