.navbar{
    background-color: black;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 450px;
}
    
.container-fluid {
    background-color: black;
    
    
}
#navbarNav a{
    color: whitesmoke;

}




    
    


