body{
    background-color: #483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    width: 650px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}
p{
    background-color: #483C32;
    color: white;
    
}
.instalogo{
    width: 55px;
    height: 55px;

}
.tiktok{
    width: 50px;
    height: 50px;

}
.elerhetosegekcontainer p{
    margin: 0;
    padding: 0;
    line-height: 1;
    display: grid;
    grid-template-columns: 30px auto; 
    align-items: center;
    gap: 20px;
}
.facebooklogo{
    width: 60px;
    height: 60px;
}
.telefonlogo{
    width: 40px;
    height: 40px;
}
.gmail{
    width: 60px;
    height: 60px; 
}
.navbar-toggler{
    color: white;
    background-color:  #C19A6B;
    
}

.dropdown button{
    background-color: #755343;
}

