body{
    background-color: #483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    width: 650px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: whitesmoke;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: #483C32;
    color: white;
   max-width: 100%;
    margin: 0;
    padding: 0;

    
}
.Munkatársaink{
    background-color: #483C32;
    color: white;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
 
.csapat{
    background-color: #483C32;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
 
.tagok{
    color: white;
    text-align: center;
}
 
.tagok img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}
 
.tagok h4{
    margin-top: 5px;
    font-size: 14px;
}

.dropdown button{
    background-color: #755343;
}
.card h5{
    background-color: #483C32;
    text-align: center;
}
.card{
    border: 3px solid black;
    background-color: #483C32;
    color: white;

}
.card-body{
    text-align: center;
    font-size: 33.5px;
}