body{
    background-color:#483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.card{
    display: flex;
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 250px;
    gap: 0;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 500px;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: #483C32;
    color: white;
    max-width: 100%;
    

    
}
.tagok{
    color: white;
    text-align: center;
    background-color: #483C32;
}
 
.tagok img{
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 7px ridge black;
}
 
.tagok h4{
    margin-top: 10px;
    font-size: 24px;
}
.container-akos{
    text-align: center;
    background-color: #483C32;
    color: white;
}


