body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #3d1f00, #4e342e, #6d4c41, #3e2723);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: Arial, sans-serif;
  color: white;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 500px;
    width: 650px;
    display: block;
    max-width: 75%;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.kep{
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #3d1f00, #4e342e, #6d4c41, #3e2723);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: Arial, sans-serif;
  color: white;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}
.container{
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #3d1f00, #4e342e, #6d4c41, #3e2723);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: Arial, sans-serif;
  color: white; 
}
.tagok{
    color: white;
    text-align: center;
    background-color: #483C32;
}
 
.fejkep img{
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 7px ridge black;
}

.nev{
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    text-align: center;
}

.container-bence{
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: nevUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

.dropdown button{
    background-color: #755343;
}

@keyframes nevUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}