body{
    background-color:#483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;

}
.fadelab{
color: white;
}
.card-img-top{
    height: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 75%;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
}
#navbarNav a{
    color: white;

}
.navbar-brand{
    color: white;
}

.container{
    background-color: #483C32;
    color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;

    
}
.Munkatársaink{
    background-color: #483C32;
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
 
.csapat{
    background-color: #483C32;
    justify-content: space-around;
    gap: 10px;
}
 
.tagok{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    text-align: center;
}
 
.tagok h4{
    margin-top: 5px;
    font-size: 14px;
}

.Munkáink h5{
    background-color: #483C32;
    color: white;
    text-align: center;
}

.Munkáink{
    text-align: center;
    background-color: #483C32;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

h4{
    color: white;
    text-align: center;
}

.btn{
    background-color: #755343;
    border: none;
    color: white;
}

.kep{
    width: 90%;
    height: auto;
    object-fit: contain;
}

.kep1{
    height: 424px;
}

.sorharom {
    margin-top: 20px;
}

.kepeskepek{
    width: 80%;
}