body{
    background-color:#483C32;
}
.navbar{
    background-color: #483C32;
    color: white;
    height: 50px;
}
.btn{
    color: white;
}
.fadelab{
color: white;
}
img{
    height: 350px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
.container-fluid {
    background-color: #483C32;
    text-align: center;
    
    
}
#navbarNav a{
    color: whitesmoke;

}
.navbar-brand{
    color: white;
}
.container{
    background-color: #483C32;
    color: white;
   max-width: 100%;
    margin: 0;
    padding: 0;

    
}
.Munkatársaink{
    background-color: #483C32;
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
 
.csapat{
    background-color: #483C32;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
 
.tagok{
    color: white;
    text-align: center;
}
 
.tagok img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}
 
.tagok h4{
    margin-top: 5px;
    font-size: 14px;
}

.Munkáink h5{
    background-color: #483C32;
    color: white;
    text-align: center;
}

.Munkáink{
    background-color: #483C32;
    width: auto;
}

.képek{
    background-color: #483C32;
}

.kepek img{
    width: 300px;
    height: 300px;
    gap: 100px;
}

.kepek h4{
    color: white;
    text-align: center;
}

.split {
    height: 1000px;
    width: 65%;
    display: flex;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }